@charset "UTF-8";
.stroke-pink {
  stroke: #e04eb3;
}

.fill-pink {
  fill: #e04eb3;
}

.fill-color {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fill-white {
  fill: #fff;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-Regular";
  src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular.woff") format("woff"), url("../fonts/HelveticaNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "HelveticaNeue-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #332a33;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RobotoSlab-Regular", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  color: rgb(58, 1, 54);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  vertical-align: top;
}

dialog[open] {
  outline: none;
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
}
dialog[open]::-ms-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

button {
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

input,
textarea {
  outline: none;
  padding: 20px 15px;
}

.main_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_gallery .main__title {
  margin-bottom: -10px;
}

@-webkit-keyframes anim_pulse {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

@keyframes anim_pulse {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
@-webkit-keyframes anim_pulse_small {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.02;
  }
}
@keyframes anim_pulse_small {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.02;
  }
}
@-webkit-keyframes anim_rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes anim_rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes show-out {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes show-out {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
.page {
  background-color: rgba(142, 106, 214, 0.3);
  display: grid; /* Используем Grid */
  grid-template-rows: 1fr auto; /* Заголовок, контент, футер */
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(2rem, 1.773rem + 1.14vw, 2.625rem);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}
.mask.active {
  opacity: 1;
  visibility: visible;
}
.mask.active .elem-load {
  -webkit-animation: anim_rotate 1s linear infinite;
          animation: anim_rotate 1s linear infinite;
}

.elem-load {
  width: 50px;
  height: 50px;
}

/* ============================= */
/* Media */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 700px;
  }
}
.btn-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 2;
  display: none;
  background-color: transparent;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-menu:focus {
  -webkit-animation: anim_pulse 0.5s infinite both alternate ease-in-out;
          animation: anim_pulse 0.5s infinite both alternate ease-in-out;
  outline: none;
}
.btn-menu__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  position: absolute;
  margin: auto;
  background-color: #e04eb3;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.btn-menu::before, .btn-menu::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0px;
  background-color: #e04eb3;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.btn-menu::after {
  top: auto;
  bottom: 0px;
}
.btn-menu.active .btn-menu__line {
  opacity: 0;
}
.btn-menu.active::before {
  -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
.btn-menu.active::after {
  -webkit-transform: translateY(-11px) rotate(-45deg);
      -ms-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

.btn-link {
  border-radius: 5px;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.btn-link:focus {
  -webkit-animation: anim_pulse_small 0.5s infinite both alternate ease-in-out;
          animation: anim_pulse_small 0.5s infinite both alternate ease-in-out;
  outline: none;
}
.btn-link_dark {
  color: #fff;
  background-color: rgb(58, 1, 54);
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  text-wrap: auto;
}
.btn-link_dark:hover, .btn-link_dark:focus {
  background-color: #fff;
  color: rgb(58, 1, 54);
}
.btn-link_pink-hover-light, .btn-link_pink-hover-dark {
  background-color: #e04eb3;
  border-radius: 5px;
  padding: 15px 30px;
  text-transform: uppercase;
  color: rgb(58, 1, 54);
  display: inline-block;
  text-align: center;
}
.btn-link_pink-hover-light:hover, .btn-link_pink-hover-light:focus, .btn-link_pink-hover-dark:hover, .btn-link_pink-hover-dark:focus {
  background-color: #fff;
}
.btn-link_pink-hover-dark:hover, .btn-link_pink-hover-dark:focus {
  background-color: rgb(58, 1, 54);
  color: #fff;
}

#btn-showModal-present {
  -webkit-animation: anim_pulse 0.5s infinite both alternate ease-in-out;
          animation: anim_pulse 0.5s infinite both alternate ease-in-out;
}

/* ============================= */
/* media */
@media (max-width: 990px) {
  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 500px) {
  .btn-link_pink {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header {
  position: fixed;
  height: 87px;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #f3f0fb;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease; /* Плавный переход для трансформации */
}
.header.hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header__inner {
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.header__logo {
  border-radius: 8px;
  padding: 8px 45px;
  background-color: #e04eb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 20px;
}
.header__logo span {
  font-size: 15px;
  line-height: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: rgb(58, 1, 54);
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 14px;
}
.menu__item {
  height: 100%;
}
.menu__link {
  padding: 0px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.menu__link:hover, .menu__link:focus {
  background-color: #f3f0fb;
  color: #e04eb3;
  outline: none;
}
.menu__link:hover::before, .menu__link:focus::before {
  background-color: #f3f0fb;
  scale: 1.05;
}
.menu__link::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ============================= */
/* media */
@media (max-width: 990px) {
  .header__inner {
    max-width: 100%;
  }
  .nav {
    position: fixed;
    bottom: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav .menu__link {
    padding: 20px 50px;
  }
  .nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav.open {
    translate: 0 calc(100% + 87px);
  }
  .nav.open .menu__link:hover, .nav.open .menu__link:focus {
    background-color: inherit;
  }
  .nav.open .menu__link:hover::before, .nav.open .menu__link:focus::before {
    background-color: inherit;
    scale: 0;
  }
}
@media (max-width: 990px) {
  .header__inner {
    gap: 20px;
  }
  .header__logo {
    padding: 5px 20px;
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .header__logo {
    font-size: 16px;
  }
}
@media (max-height: 500px) {
  .nav {
    max-height: calc(100vh - 87px);
  }
}
@media (max-height: 370px) {
  .header {
    height: 56px;
  }
  .nav {
    max-height: calc(100vh - 56px);
  }
  .nav.open {
    translate: 0 calc(100% + 56px);
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.intro {
  margin-top: 87px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.intro__block {
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.intro__title {
  color: #fff;
}
.intro__text {
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.intro__title {
  margin-bottom: 35px;
  font-size: 35px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.intro__title__span {
  color: #e04eb3;
}
.intro__btn {
  margin-top: 20px;
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.intro__content {
  min-height: 622px;
  padding: 75px 100px;
  background-color: rgb(58, 1, 54);
  color: #fff;
  overflow: hidden;
}
.intro__content__container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.intro__content__container.active .intro__title, .intro__content__container.active .intro__text, .intro__content__container.active .intro__btn {
  -webkit-animation: show-out 0.4s linear both;
          animation: show-out 0.4s linear both;
}

.intro-left {
  position: relative;
}

/* ============================= */
/* media */
@media (max-width: 990px) {
  .intro {
    grid-template-columns: auto;
    grid-template-rows: 622px auto;
  }
  .intro__content {
    padding: 60px 50px;
    min-height: auto;
  }
  .intro__title {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .intro.active .intro__title {
    -webkit-animation: show-out 0.4s linear both;
            animation: show-out 0.4s linear both;
  }
}
@media (max-width: 500px) {
  .intro__content {
    padding: 50px;
  }
}
@media (max-height: 830px) and (max-width: 990px) {
  .intro {
    grid-template-rows: calc(100vh - 87px) auto;
  }
}
@media (max-height: 370px) {
  .intro {
    margin-top: 56px;
    grid-template-rows: calc(100vh - 56px) auto;
  }
}
.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service {
  width: 100%;
  min-width: auto;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}
.service.rotated .service__inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.service.show-back .service__back, .service.show-back .service__front::after {
  opacity: 1;
}
.service__inner {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #f3f0fb;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}
.service__inner::after {
  opacity: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #e04eb3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.service__back {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  gap: 10px;
  translate: 0 -50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.service__front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.service__pic {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: #f2f2f2;
  -o-object-fit: cover;
     object-fit: cover;
}
.service__title {
  font-family: "HelveticaNeue-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.service__price {
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.service__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  gap: 10px;
  width: 100%;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}
.service__list {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  list-style: none;
  width: 100%;
}
.service__item {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
.service__item::before {
  content: "✦";
  position: absolute;
  left: 0;
  color: #e04eb3;
  font-size: 16px;
}

/* ============================= */
/* media */
@media (max-width: 990px) {
  .services__content {
    grid-template-columns: auto;
    gap: 30px;
  }
  .service__front {
    -webkit-transform-style: flat;
            transform-style: flat;
  }
  .service__front::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 1, 54, 0.9);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  .service__back {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-style: flat;
            transform-style: flat;
    opacity: 0;
  }
  .service__item {
    line-height: clamp(1.25rem, 0.908rem + 1.56vw, 1.875rem);
  }
}
@media (max-width: 450px) {
  .service__front {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .service__front::after {
    display: none;
  }
  .service__back {
    min-height: auto;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-color: transparent;
    color: inherit;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
}
.how {
  overflow: hidden;
}
.how__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.how__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.how__item {
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 16px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f3f0fb;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.how__item.left {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}
.how__item.left.active {
  -webkit-animation: show-out 0.6s linear both;
          animation: show-out 0.6s linear both;
}
.how__item.right {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
.how__item.right.active {
  -webkit-animation: show-out 0.6s linear both;
          animation: show-out 0.6s linear both;
}

/* ============================= */
/* Media */
@media (max-width: 700px) {
  .how__content {
    gap: 20px;
  }
  .how__row {
    gap: 20px;
  }
}
@media (max-width: 470px) {
  .how__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how__item {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
  }
}
.separator {
  background-color: #e04eb3;
  color: #fff;
  overflow: hidden;
}

.separator__inner {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.separator__title {
  font-size: 36px;
}

/* ============================= */
/* media */
@media (max-width: 1202px) {
  .separator__title {
    font-size: 30px;
  }
}
@media (max-width: 990px) {
  .separator__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .separator__title {
    width: 100%;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: 690px) {
  .separator__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 410px) {
  .separator__title {
    font-size: 26px;
  }
}
.gallery {
  background-color: #f3f0fb;
}
.gallery_page {
  background-color: transparent;
}
.gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.photo-img {
  width: 100%;
  aspect-ratio: 1/1;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.photo-img:hover {
  scale: 1.02;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

/* ============================= */
/* media */
@media (max-width: 767px) {
  #photo {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
@media (max-width: 420px) {
  #photo {
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
  .gallery__inner {
    padding-left: 3px;
    padding-right: 3px;
  }
}
.reviews {
  margin-bottom: 20px;
}

.reviews__block {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 50px;
  padding-top: 30px;
}

.review {
  grid-template-rows: subgrid;
  grid-row: span 3;
  justify-items: center;
}
.review__title {
  font-family: "HelveticaNeue-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.reviews-pic {
  background-color: #e04eb3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__titles {
  text-align: center;
  padding: 10px 0 30px;
}

.review__subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  color: rgb(158, 146, 158);
}

.review__text {
  background-color: #f3f0fb;
  padding: 20px;
  text-align: center;
  position: relative;
}
.review__text::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -12px;
  left: 50%;
  background-color: inherit;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

/* ============================= */
/* media */
@media (max-width: 990px) {
  .reviews__block {
    grid-template-columns: auto;
    gap: 20px;
  }
  .review {
    grid-template-rows: auto;
  }
  .review__text {
    padding: 40px 75px;
  }
  .reviews-pic {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .review__text {
    padding: 50px;
  }
}
.footer {
  padding-top: 55px;
  padding-bottom: 55px;
  color: rgb(158, 146, 158);
  background-image: url("../images/bg-polygonal.jpg");
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__title {
  margin-bottom: 30px;
  color: #fff;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.footer__title_logo {
  text-transform: uppercase;
  margin-left: 20px;
  color: inherit;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  font-style: normal;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.contacts__link:hover, .contacts__link:focus {
  color: #fff;
  outline: none;
}
.contacts__link:focus .contacts__icon {
  -webkit-animation: anim_pulse 0.5s infinite both alternate ease-in-out;
          animation: anim_pulse 0.5s infinite both alternate ease-in-out;
}
.contacts__icon {
  width: 20px;
  height: 20px;
}
.contacts a {
  font-weight: 700;
}

.social {
  list-style: none;
  display: grid;
  gap: 5px;
  grid-template-rows: 40px;
  grid-template-columns: repeat(4, 40px);
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: rgb(158, 146, 158) 2px solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social__link:focus {
  outline: none;
  -webkit-animation: anim_pulse 0.5s infinite both alternate ease-in-out;
          animation: anim_pulse 0.5s infinite both alternate ease-in-out;
}
.social__link .fill-color {
  fill: rgb(158, 146, 158);
}
.social__icon {
  width: 26px;
  height: 26px;
}

/* ============================= */
/* media */
@media (max-width: 990px) {
  .footer__inner {
    grid-template-columns: auto;
  }
}
.slider-intro,
.slider-modal {
  overflow: hidden;
}

.slider-item,
.slick-list,
.slick-track {
  height: 100%;
}

.slider-intro .slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-modal .slider-img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-arrow {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: rgba(158, 146, 158, 0.7);
  border-radius: 50%;
}
.slick-arrow:active {
  scale: 0.95;
}
.slick-arrow:hover, .slick-arrow:focus {
  background-color: #e04eb3;
}

.slider-modal .slick-arrow {
  background-color: rgba(158, 146, 158, 0.1);
}
.slider-modal .slick-arrow:hover, .slider-modal .slick-arrow:focus {
  background-color: #e04eb3;
}

.slick-arrow::before {
  content: "";
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 55.75"%3E%3Cpath fill="white" d="M3.11 55.75c0,0 -0.01,0 -0.01,0 -0.82,0 -1.6,-0.32 -2.18,-0.9 -0.59,-0.58 -0.92,-1.37 -0.92,-2.2 0,-0.82 0.33,-1.61 0.92,-2.2l22.6 -22.57 -22.6 -22.57c-0.59,-0.58 -0.91,-1.38 -0.91,-2.2 0,-1.72 1.39,-3.11 3.11,-3.11 0.82,0 1.61,0.33 2.19,0.91l24.78 24.77c0.58,0.58 0.91,1.38 0.91,2.2 0,0.83 -0.33,1.62 -0.92,2.2l-24.77 24.77c-0.58,0.58 -1.36,0.9 -2.18,0.9 0,0 -0.01,0 -0.01,0l-0.01 0z" /%3E%3C/svg%3E') no-repeat center;
  position: absolute;
  left: 18px;
  display: block;
  width: 30px;
  height: 30px;
}

.slick-prev {
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleX(-1);
      -ms-transform: translateY(-50%) scaleX(-1);
          transform: translateY(-50%) scaleX(-1);
}

.slick-next {
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.elem-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #e04eb3;
}
.elem-close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.elem-close__cross {
  width: 26px;
  height: 26px;
}
.elem-close__cross__line {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
}

#modal-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#modal-present[open] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#modal-present__close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
}

.modal-dialog {
  margin: auto;
  padding: 10px;
  position: relative;
}

.form-present {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.form-present::after {
  content: "";
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  background: rgba(51, 51, 51, 0.9);
  opacity: 0;
  visibility: hidden;
}
.form-present._sending::after {
  opacity: 1;
  visibility: visible;
}
.form-present__title {
  margin-bottom: 20px;
  line-height: 1.2;
}
.form-present__lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 5px;
}
.form-present__lbl__subtext {
  font-size: 12px;
  padding: -10px 0 0;
}
.form-present__input {
  padding: 5px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.form-present__input:hover, .form-present__input:focus {
  -webkit-box-shadow: 0 0px 15px #afd59c;
          box-shadow: 0 0px 15px #afd59c;
  outline: 0;
}
.form-present__input.error {
  -webkit-box-shadow: 0 7px 15px rgba(250, 53, 18, 0.7);
          box-shadow: 0 7px 15px rgba(250, 53, 18, 0.7);
}

.present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.present__lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
}
.present__lbl:has(.present__radio:checked) {
  opacity: 1;
}

.present__radio {
  display: none;
}
.present__radio:checked ~ .present__span::after {
  opacity: 1;
  scale: 1;
}

.present__span {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.present__span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 18px;
  height: 18px;
  opacity: 0;
  scale: 0;
  background-color: #e04eb3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */