.btn-menu {
	display: none;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 25px;
	position: relative;
	z-index: 2;
	background-color: transparent;
	flex-shrink: 0;

	&:focus {
		animation: pulse 0.5s infinite both alternate ease-in-out;
		outline: none;
	}

	&__line {
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 1px;
		position: absolute;
		margin: auto;

		background-color: $color-pink;

		transition: 0.2s linear;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		left: 0;
		top: 0px;

		background-color: $color-pink;
		border-radius: 1px;

		transition: transform 0.2s linear;
	}

	&::after {
		top: auto;
		bottom: 0px;
	}

	&.active {
		.btn-menu__line {
			opacity: 0;
		}

		&::before {
			transform: translateY(10px) rotate(45deg);
		}

		&::after {
			transform: translateY(-11px) rotate(-45deg);
		}
	}
}

.btn-link {
	border-radius: 5px;
	font-family: "HelveticaNeue-Bold", sans-serif;
	font-weight: 700;
	font-size: 15px;

	&:focus {
		animation: pulse-small 0.5s infinite both alternate ease-in-out;
		outline: none;
	}

	&_dark {
		color: $color-white;
		background-color: $color-purple;
		padding: 15px 30px;
		font-size: 16px;
		text-transform: uppercase;
		white-space: nowrap;
		text-wrap: auto;

		&:hover,
		&:focus {
			background-color: $color-white;
			color: $color-purple;
		}
	}

	&_pink-hover-light,
	&_pink-hover-dark {
		background-color: $color-pink;
		border-radius: 5px;
		padding: 15px 30px;
		text-transform: uppercase;
		// color: $color-dark;
		color: $color-purple;
		display: inline-block;
		text-align: center;

		&:hover,
		&:focus {
			// color: $color-dark;
			background-color: $color-white;
		}
	}

	&_pink-hover-dark {
		&:hover,
		&:focus {
			// background-color: $color-dark;
			background-color: $color-purple;
			color: $color-white;
		}
	}
}

#present-showModal-btn {
	animation: pulse 0.5s infinite both alternate ease-in-out;
}


/* ============================= */
/* media */

@media (max-width: 990px) {
	.btn-menu {
		display: flex;
	}
}

@media (max-width: 500px) {
	.btn-link_pink {
		align-self: center;
	}
}
