.page__inner{
	overflow: hidden;
	background-color: rgba(142, 106, 214,.3);

	display: grid; /* Используем Grid */
	grid-template-rows:  1fr auto; /* Заголовок, контент, футер */
	min-height: 100vh;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	padding: 50px 30px;
}

.no-scroll {
	overflow: hidden;
	height: 100%;
}

.main{
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	margin-bottom: 30px;
font-size: clamp(2rem, 1.773rem + 1.14vw, 2.625rem);

}


.mask{
	position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height:100vh;
		opacity: 0;
		visibility: hidden;
		display: flex;
		align-items: center ;
		justify-content: center;
z-index: 1000;
		background: rgba(0, 0, 0, 0.9);

		&.active{
			opacity: 1;
			visibility: visible;

			.elem-load{
				animation: anim_rotate 1s linear infinite;
					}
				}
		}

.elem-load {
	width: 50px;
	height: 50px;
}

/* ============================= */
/* Media */

@media (max-width: 1200px) {
	.container {
		max-width: 1000px;
	}
}

@media (max-width: 990px) {
	.container {
		max-width: 700px;
	}
}
@media (max-height: 370px) {
	.page__inner {
		// margin-top: $header-height-min;
	}
}
