.footer {
	padding-top: 55px;
	padding-bottom: 55px;
	color: $color-darkgrey;

	background-image: url("../images/bg-polygonal.jpg");

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;
	}
	&__block {
		display: flex;
		flex-direction: column;
	}
	&__title {
		margin-bottom: 30px;
		color: #fff;

		font-family: "RobotoSlab-Bold", sans-serif;
		font-weight: 700;
		font-size: 20px;

		&_logo {
			text-transform: uppercase;
			margin-left: 20px;
			color: inherit;
		}
	}

	&__text {
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
	font-style: normal;

	&__link {
		display: flex;
		align-items: center;
		gap: 10px;

		&:hover,
		&:focus {
			color: $color-white;
			outline: none;
		}

		&:focus .contacts__icon {
			animation: pulse 0.5s infinite both alternate ease-in-out;
		}
	}

	&__icon {
		width: 20px;
		height: 20px;
	}

	& a {
		font-weight: 700;
	}
}

.social {
	list-style: none;
	display: grid;
	gap: 5px;
	grid-template-rows: 40px;
	grid-template-columns: repeat(4, 40px);

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		border: $color-darkgrey 2px solid;
		transition: 0.3s;

		&:focus {
			outline: none;

			animation: pulse 0.5s infinite both alternate ease-in-out;
		}

		& .fill-color {
			fill: $color-darkgrey;
		}
	}

	&__icon {
		width: 26px;
		height: 26px;
	}
}

// .book {
// 	&__lbl {
// 		position: relative;
// 		width: 100%;
// 		color: $color-dark;
// 		font-size: 20px;
// 		&_textarea {
// 			margin-bottom: 30px;
// 		}
// 	}

// 	&__input {
// 		width: 100%;
// 		color: inherit;
// 		margin-bottom: 5px;
// 		border-radius: 5px;
// 		font-size: inherit;
// 	}

// 	&__span {
// 		position: absolute;
// 		top: 10px;
// 		right: 10px;
// 		width: 5px;
// 		height: 5px;
// 		font-size: 20px;
// 		color: $color-pink;
// 	}

// 	&__textarea {
// 		color: inherit;
// 		width: 100%;
// 		height: 100%;
// 		border-radius: 5px;
// 		font-size: inherit;
// 		font-family: inherit;
// 	}

// 	&__btn {
// 		align-self: flex-start;
// 		background-color: $color-pink;
// 		border-radius: 5px;
// 		padding: 15px 30px;
// 		text-transform: uppercase;
// 		color: #fff;
// 		position: relative;

// 		&::after {
// 			opacity: 0;
// 			display: block;
// 			content: "";
// 			width: calc(100% + 2px);
// 			height: calc(100% + 2px);
// 			position: absolute;
// 			left: -1px;
// 			top: -1px;
// 			border: 3px solid black;
// 			border-radius: 5px;
// 			transition: 0.3s;
// 		}
// 		&:hover {
// 			color: black;
// 			background-color: $color-white;
// 			&::after {
// 				opacity: 1;
// 			}
// 		}
// 	}
// }

/* ============================= */
/* media */

@media (max-width: 990px) {
	.footer__inner {
		grid-template-columns: auto;
	}
}
