.header {
	position: fixed;

	height: $header-height;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	background-color: $color-lightgrey;

	transition: transform 0.5s ease; /* Плавный переход для трансформации */

	&__inner {
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
	}
}

.header__logo {
	 border-radius: 8px;
    padding: 8px 45px;
	background-color: $color-pink;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-white;
	text-transform: uppercase;
	flex-direction: column;
	text-align: center;
	font-size: 20px;
	& span{
		font-size: 15px;
		line-height: 1;
	}
}

.nav {
	display: flex;
	height: 100%;
	color: $color-purple;
}

.menu {
	list-style: none;
	display: flex;

	justify-content: flex-end;
	font-family: "RobotoSlab-Regular", sans-serif;
	font-size: 14px;

	&__item {
		height: 100%;
	}

	&__link {
		padding: 0px 20px;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		text-transform: uppercase;

		&:hover,
		&:focus {
			background-color: $color-lightgrey;
			color: $color-pink;
			outline: none;

			&::before {
				background-color: $color-lightgrey;
				scale: 1.05;
			}
		}

		&::before {
			width: 100%;
			height: 100%;
			z-index: -1;
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			transition: 0.3s;
		}
	}
}

/* ============================= */
/* media */

@media (max-width: 990px) {
	.header__inner {
		max-width: 100%;
	}

	.nav {
		position: fixed;
		bottom: 100%;
		left: 0;
		z-index: -1;
		width: 100%;
		height: auto;
		padding-bottom: 20px;
		padding-top: 20px;
		justify-content: center;

		align-items: center;

		background-color: rgba($color: $color-white, $alpha: 0.95);

		transition: 0.3s;

		& .menu__link {


			padding: 20px 50px;
		}

		& .menu {
			flex-direction: column;
			align-items: center;
		}

		&.open {
			translate: 0 calc(100% + $header-height);

			& .menu__link {
				&:hover,
				&:focus {
					background-color: inherit;

					&::before {
						background-color: inherit;
						scale: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 990px) {
	.header__inner {
		gap: 20px;
	}
	.header__logo {
		padding: 5px 20px;
		font-size: 25px;
	}
}

@media (max-width: 500px) {
.header__logo{
	font-size: 16px;
}}

@media (max-height: 500px) {
	.nav {
		height: calc(100vh - $header-height);
	}

}

@media (max-height: 370px) {
.header{
height: $header-height-min;
}

.nav {
	height: calc(100vh - $header-height-min);

	&.open {
		translate: 0 calc(100% + $header-height-min);
	}
}

	.menu{
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&__item{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
