.intro {
	padding-top: 87px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 622px;
}

.intro__content {
	padding: 75px 100px;
	background-color: $color-dark;
	color: $color-white;



	&__container {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		display: flex;
	flex-direction: column;
	align-items: start;
	}
}

.intro__title {
	margin-bottom: 35px;

	&__span {
		color: $color-pink;
	}
}

.intro__text {
	margin-bottom: 50px;
	font-family: 'RobotoSlab-Regular',sans-serif;
	font-size: 14px;
}

.intro__block {
	background-color: $color-grey;
	position: relative;
}

/* ============================= */
/* media */

@media (max-width:990px) {
	.intro {

		grid-template-columns: auto;
		grid-template-rows: 622px auto;

		&__content{
			padding: 50px;
		}
	}
}

@media (max-width:500px) {
	.intro {
		&__content{
			padding: 50px;
		}
	}
}