.intro {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 622px;
}

.intro__content {
	padding: 75px 150px;
	background-color: $color-dark;
	color: $color-white;



	&__container {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
	}
}

.intro__title {
	margin-bottom: 35px;

	&__span {
		color: $color-pink;
	}
}

.intro__text {
	margin-bottom: 50px;
	font-family: 'RobotoSlab-Regular',sans-serif;
	font-size: 14px;
}

.intro__block {
	background-color: $color-grey;
	position: relative;
}

