.reviews {
	margin-bottom: 20px;
}

.reviews__block {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 0 50px;
    padding-top: 30px;

}
.review {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
	justify-items: center;

	&__title {
		font-family: "HelveticaNeue-Regular", sans-serif;
		font-size: 20px;
		font-weight: 400;
	}
}
.reviews-pic {
	background-color: $color-pink;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.review__titles{
text-align: center;
padding: 10px 0 30px;
}

.review__subtitle {
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
    color: $color-darkgrey;
}
.review__text {
	background-color: $color-grey;
	padding: 20px;
	text-align: center;
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 30px;
		height: 30px;
		top: -12px;
		left: 50%;
		background-color: inherit;
		transform: translateX(-50%) rotate(45deg);
	}
}

/* ============================= */
/* media */

@media (max-width: 990px) {
	.reviews__block {
		grid-template-columns: auto;
gap: 20px;
	}

	.review {
		grid-template-rows: auto;
	}


    .review__subtitle{

    }

	.review__text {
		padding: 40px 75px;
	}

    .reviews-pic {

        margin-top: 0px;
    }
}

@media (max-width:500px) {
	.review__text {

			padding: 50px;
	}
}
