.separator {
	background-color: $color-pink;
	color: $color-white;
	overflow: hidden;
}
.separator__inner {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

}

.separator__title {
	font-size: 36px;
}

/* ============================= */
/* media */
@media (max-width: 1202px) {
	.separator__title {
		font-size: 30px;
	}
}

@media (max-width: 990px) {
	.separator__inner {
		justify-content: center;
	}

	.separator__title {
		width: 100%;
		text-align: center;
		flex: 0 1 auto;
	}
}

@media (max-width: 690px) {
	.separator__title {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 410px) {
    .separator__title {
		font-size: 26px;
	}
}