.services {
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__item {
		width: 100%;
		background-color: $color-lightgrey;
		transition: 0.3s;
		position: relative;
		box-shadow: 0 0 20px rgba(0, 0, 0, .08);

		&::after {
			opacity:0;
			content: "";
            display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			left: 0px;
			bottom: 0px;
			background-color: $color-pink;
			transition: 0.3s;
		}

		&:hover::after {
			opacity: 1;
		}
	}
}

.service-content {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 10px;
}
.service-pic {
	width: 100%;
	aspect-ratio: 2 / 1;
	background-color: $color-grey;
}
.service-title {
	font-family: 'HelveticaNeue-Regular',sans-serif;
	font-size: 20px;
	font-weight: 400;
}
.service-price {
	font-family: 'HelveticaNeue-Bold',sans-serif;
	font-weight: 700;
	font-size: 16px;
}

/* ============================= */
/* media */

@media (max-width: 990px) {
	.services {



		&__content {

			grid-template-columns: auto;
			gap: 30px;
		}}
}