$color-white:  #fff;
$color-pink: #e04eb3;
$color-dark:#332a33;;
$color-grey:#f2f2f2;
$color-black: #000;
$color-lightgrey: #f3f0fb;//#fafafa;
$color-darkgrey: rgb(158, 146, 158);
$color-purple:  #3a0136;;

$color-bg1:#ddd2f4;


